<div *ngFor="let item of feedItems" class="container">
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <p>{{ item.source }}</p>
      <h4>{{ item.title }}</h4>
      <div class="card-text" [innerHTML]="item.description"></div>
      <div class="mt-3">
        <p>{{ item.publishingDate | date }}</p>
        <a [href]="item.link">{{ item.link }}</a>
        <div class="">
          <span>Kategorier:</span>
          <div *ngFor="let catogory of item.categories">
            <p>{{ catogory }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
