:host ::ng-deep img {
  max-width: 100%;
}

.card p {
  font-style: italic;
}

.card {
  width: 20rem;
}

.item {
  display: inline-flex;
  position: relative;
}

.container {
  margin-bottom: 5em;
}
